<div>
    <%= @comment.new_record? ? 'Add a comment' : 'Update your comment' %>
    <%= form_for(@comment, url: comment_edit_path(params[:id], @comment.id)) do |c| %>
        <div class="ui form">
            <div class="field">
                <%= c.text_area :content, {size: "60x2", required: "required"} %>
            </div>

            <% if @comment.new_record? %>
                <%= c.button 'Add comment', :class=>"ui green button" %>
            <% else %>
                <%= c.button 'Update comment', :class=>"ui blue button" %>
                
                <%# <%= button_to 'Go back', {controller: 'articles', action: 'show'},
                    {method: :get, params: {article_id: @article.id}, class: "ui gray button"} %>
            <% end %>
        </div>
    <% end %>

    <% if !@comment.new_record? %>
        <br>
        <%= link_to @comment.article do %>
            <button class="ui gray button">Go back</button>
        <% end %>
    <% end %>
</div>