<h1><span class="user-info"><%= current_user.username %></span>'s Groups (<%= @groups.length %>)
    <% if logged_in? %>
        <span class="align-right">
            <%= button_to "New Group", new_group_path, :class=>"ui button green",
                method: :get %>
        </span>
    <% end %>
</h1>


<% if !@groups.empty? %>
    <ul>
        <% @groups.each do |g| %>
            <div class="ui segment">
            <%= link_to g.name, group_path(g) %>
            <span class="align-right">
                Creator: <%= link_to g.creator.username, g.creator %>
            </span>
            </div>
        <% end %>
    </ul>
<% else %>
    <div class="ui divider"></div>
    <p>It looks like you aren't involved in any groups. Why not start one?</p>
<% end %>
