<h1>Edit Password
    <%= render 'shared/back_button', path: edit_user_path(@user) %>
</h1>
<p>You can change your password here. You'll need your current password to do so.</p>

<% if @user.errors.any? %>
    <div class="ui error message">
        <ul>
            <% @user.errors.full_messages.each do |e| %>
                <li><%= e %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_for(@user, url: change_password_confirm_user_path(@user)) do |f| %>
    <div class="ui form">
        <div class="field">
            <%= f.label :current_password %>
            <%= f.password_field :current_password %>
        </div>
        <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password %>
        </div>
        <div class="field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %>
        </div>
        <div class="field">
            <%= f.button 'Save Changes', :class=>"ui blue button" %>
        </div>
    </div>
<% end %>