<h1>Edit Profile
    <%= render 'shared/back_button', path: @user %>
</h1>
<p>Make any necessary changes and save them here.</p>

<% if @user.errors.any? %>
    <div class="ui error message">
        <ul>
            <% @user.errors.full_messages.each do |e| %>
                <li><%= e %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<h4>Email</h4>
<p>　<%= @user.email %></p><br>

<%= form_for(@user) do |f| %>
    <div class="ui form">
        <div class="field">
            <%= f.label :username %>
            <%= f.text_field :username %>
        </div>
        <div class="field">
            <%= f.label :bio %>
            <%= f.text_area :bio, {size: "60x10", placeholder: "Tell everyone a little about yourself!"} %>
        </div>
        <div class="field">
            <%= f.button 'Save Changes', :class=>"ui blue button" %>
        </div>
    </div>
<% end %>
<br>

<h3>Manage Password</h3>
<div class="ui divider"></div>
<%= button_to "Change Password", change_password_user_path(@user), :class=>"ui button blue",
    method: :get %>