<h1>Edit Profile</h1>
<p>Make any necessary changes and save them here.</p>

<% if @user.errors.any? %>
    <div class="ui error message">
        <ul>
            <% @user.errors.full_messages.each do |e| %>
                <li><%= e %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<%= form_for(@user, url: user_edit_path(@user.id)) do |f| %>
    <div class="ui form">
        <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email %>
        </div>
        <div class="field">
            <%= f.label :username %>
            <%= f.text_field :username %>
        </div>
        <div class="field">
            <%= f.label :bio %>
            <%= f.text_area :bio, {size: "60x10", placeholder: "Tell everyone a little about yourself!"} %>
        </div>
        <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password %>
        </div>
        <div class="field">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %>
        </div>
        <div class="field">
            <%= f.button 'Save Changes', :class=>"ui blue button" %>
        </div>
    </div>
<% end %>

<br>
<%= link_to @user do %>
    <button class="ui gray button">Go back</button>
<% end %>
